form(id="login", method="POST", action="/login")
  input(type="email", name="email", placeholder="Email Address") /
  input(type="password", name="password", placeholder="Password") /
  input(type="submit", value="login")

